<a href="https://colab.research.google.com/github/mrsr6113/HelloWorld/blob/master/data_unpivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import math

In [ ]:
# 入力ファイル名と出力ファイル名
input_file = 'input.csv'
output_file = 'output.csv'

In [ ]:
# CSVファイルからデータを読み込む
df = pd.read_csv(input_file, dtype={
    "勘定科目コード": str,
    "勘定科目名": str,
    "部門コード": str,
    "部門名": str
})

In [ ]:
# 金額を整数として読み込むための関数
def parse_amount(x):
    try:
        return int(round(float(x), 0))
    except (ValueError, TypeError):
        return 0

In [ ]:
# 必要な列を選択し、変換する
df = df.melt(id_vars=["表示順", "勘定科目コード", "勘定科目名", "部門コード", "部門名"], var_name="年月日", value_name="金額")
df = df.rename(columns={"年月日": "日付"})
df["表示順"] = df["表示順"].apply(parse_amount)
df["金額"] = df["金額"].apply(parse_amount)

In [ ]:
# 列の並び替え
df = df[['日付', '表示順', '勘定科目コード', '勘定科目名', '部門コード', '部門名', '金額']]

In [ ]:
# 空白の行を削除する
df = df.dropna(subset=["表示順", "部門コード", "部門名"], how="all")

In [ ]:
# ソートしてCSVファイルに出力する
df.sort_values(['日付', '部門コード','表示順'], inplace=True)
df.to_csv(output_file, index=False)

In [ ]:
print("変換が完了しました。")

変換が完了しました。